body {
  background: #f9f9f9;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; /* This makes the container take up the full height of the screen */
  gap: 20px;
}

.inner-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2); /* Small shadow for a "card" effect */
}

.sectionTitle {
  color: #484848;
}

.button-container, .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.input-file-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button {
  padding: 10px 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: #014796;
}

.input {
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
  width: 50%;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 20pt;
}


.error-space {
  height: 10px; /* or however tall you expect your error messages to be */
  display: flex;
  align-items: center;
  justify-content: center;
}
.success {
  color: green;
  font-weight: bold;
}

.titleHeader{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

hr {
  flex-grow: 0; flex-shrink: 0; flex-basis: 1px;
}

#queryParamsDiv{
  /*border: black solid 1px;*/
  /*height: 50%;*/
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /*gap: 15px;*/
  background: white;
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Small shadow for a "card" effect */
}

.queryParamsSelect{
  margin-bottom: 20px;
  width: 100%;
}

#filterVal{
  margin-bottom: 20px;
}

#priceFilter{
  margin-bottom: 20px;
  width: 60%;
}
