<div class="titleHeader">
  <h1 style="font-size: 28pt;font-family: Arial; font-style: italic;color: #000038">Car Report Generator</h1>

</div>
<div class="container">

  <div id="chooseDataSourceDiv" >
    <div class="inner-container">
      <h2>Choose your datasource</h2>
      <div class="flexRow">
        <select [(ngModel)]="selectedDatasource"  (change)="onSourceChange(this.selectedDatasource)">
          <option value="csv">CSV File</option>
          <option value="h2">Database</option>
          <option value="fs">Server Filesystem</option>
        </select>
        <div *ngIf="selectedDatasource =='h2'" class="button-container" style="margin-bottom: 0px;">
          <button *ngIf="!showSubmitToDb" class="button" (click)="showSubmitToDb = true;">Insert data from CSV</button>
        </div>
        <div *ngIf="selectedDatasource =='h2'" class="button-container" style="margin-bottom: 0px;">
          <button style="width: 100px;" class="button" (click)="deleteAllFromDb()">Delete All from DB</button>

        </div>
      </div>
      <p class="success" *ngIf="deleteSuccess">Data successfully deleted</p>
      <p class="success" *ngIf="uploadSuccess">Data successfully inserted</p>
    </div>
  </div>

  <div *ngIf="selectedDatasource == 'csv' || showSubmitToDb" class="input-file-container" style="margin-bottom: 0px;">
    <input id="fileInput" type="file" (change)="handleFileInput($event)">
  </div>
  <button *ngIf="showSubmitToDb" class="button" (click)="insertCSVToDb()">Submit to Database</button>

  <div class="error-space">
    <span *ngIf="errorMessage" class="error">{{ errorMessage }}</span>
  </div>

  <div style="display: flex;flex-direction: row;justify-content: space-evenly; gap: 15px;">
    <div class="inner-container" >
      <button class="button" [style.background-color]="isGroupSortActive ? '#014796' : '#7CBAFFFF'" (click)="onSortOrderButtonClick()"><h3>Group & Order</h3></button>
      <div id="queryParamsDiv" class="">
        <div class="" >
          <h3 [style.color]="isGroupSortActive ? 'black' : 'lightgrey'">Group by</h3>
          <select id="groupBy" class="queryParamsSelect" [(ngModel)]="selectedGroupByOption" [disabled]="!isGroupSortActive">
            <option value="Year">Year</option>
            <option value="Make">Make</option>
          </select>
        </div>

        <div>
          <h3 [style.color]="isGroupSortActive ? 'black' : 'lightgrey'">Order Direction</h3>
          <select id="orderDirection" class="queryParamsSelect" [(ngModel)]="selectedSortDirOption" [disabled]="!isGroupSortActive">
            <option value="asc">ASC</option>
            <option value="desc">DESC</option>
          </select>
        </div>

      </div>
    </div>

    <div class="inner-container">
      <button class="button" [style.background-color]="isFilterActive ? '#014796' : '#7CBAFFFF'" (click)="onFilterButtonClick()"><h3>Filter</h3></button>
      <div id="queryParamsDiv" class="">
        <div class="">
          <h3 [style.color]="isFilterActive ? 'black' : 'lightgrey'">Parameter</h3>
          <select id="filterParam" class="queryParamsSelect" [(ngModel)]="selectedFilterByOption" [disabled]="!isFilterActive">
            <option value="Make">Make</option>
            <option value="Year">Year</option>
            <option value="Price">MSRP</option>
          </select>
        </div>

        <div *ngIf="selectedFilterByOption != 'Price'">
          <h3 [style.color]="isFilterActive ? 'black' : 'lightgrey'">Value</h3>
          <select *ngIf="selectedFilterByOption=='Make'" id="filterVal" class="queryParamsSelect" [(ngModel)]="selectedMake"  [disabled]="!isFilterActive">
            <option *ngFor="let make of makeOptions" [value]="make">{{ make }}</option>
          </select>

          <select *ngIf="selectedFilterByOption=='Year'" id="filterVal" class="queryParamsSelect" [(ngModel)]="selectedYear" [disabled]="!isFilterActive">
            <option *ngFor="let year of yearOptions" [value]="year">{{ year }}</option>
          </select>
        </div>

        <div style="margin-left: 20px;" *ngIf="selectedFilterByOption == 'Price'" >
          <h3 [style.color]="isFilterActive ? 'black' : 'lightgrey'">Less than</h3>
          <input id="priceFilter" type="number" [(ngModel)]="priceFilter" [disabled]="!isFilterActive">
        </div>

<!--        <div style="">-->
<!--          <h3 [style.color]="isFilterActive ? 'black' : 'lightgrey'">Sort</h3>-->
<!--          <select id="orderDirectionFilter" class="queryParamsSelect" [(ngModel)]="selectedSortDirOption" [disabled]="!isFilterActive">-->
<!--            <option value="asc">ASC</option>-->
<!--            <option value="desc">DESC</option>-->
<!--          </select>-->
<!--        </div>-->





      </div>
    </div>

  </div>

  <div>
    <button style="background-color: darkgreen" class="button" (click)="submitRequest()"><h1>Submit Request</h1></button>
  </div>

  </div>

