<div class="inner-container" >
  <button class="button" [style.background-color]="isGroupActive ? '#014796' : '#7CBAFFFF'" (click)="onGroupButtonClick()"><h3>Group by</h3></button>
  <div id="queryParamsDiv" class="">
    <div class="" >
      <h3 [style.color]="isGroupActive ? 'black' : 'lightgrey'">Group by</h3>
      <select id="groupBy" class="queryParamsSelect" [(ngModel)]="selectedGroupByOption" (ngModelChange)="selectedGroupByOptionChange.emit($event)" [disabled]="!isGroupActive">
        <option value="Year">Year</option>
        <option value="Make">Make</option>
      </select>
    </div>

    <div>
      <h3 [style.color]="isGroupActive ? 'black' : 'lightgrey'">Sort Direction</h3>
      <select id="orderDirection" class="queryParamsSelect" [(ngModel)]="selectedSortDirOption" (ngModelChange)="selectedSortDirOptionChange.emit($event)" [disabled]="!isGroupActive">
        <option value="asc">ASC</option>
        <option value="desc">DESC</option>
      </select>
    </div>
  </div>
</div>
